html {

    /* page base colors */
    --page-background-color: white;
    --page-foreground-color: #2c3e50;
    --page-secondary-foreground-color: #67727e;


    --header-background: var(--page-foreground-color);
    --header-foreground: var(--page-background-color);
}


/* Reduce sze of header title */
div.header .title {
    font-size: 150%;
}
