# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
s3com

# Temporary & save files
*~
*#*
s3com.dSYM

# Legendre coefficient files
*_legcoef_*

# Cloud optical properties
data/cld_optprop/mie_scat_liqcld_eos_2_modis.nc

# Doxygen html and latex
docs/Doxygen/html
docs/Doxygen/latex

# Personal
Makefile.local
test.nml
